.wrapper {
    display: flex;
    flex-direction: column;
    width: auto;
    align-content: center;
    color: blue;
    margin: 0 10%;
    min-width: 480px;
}

.head_main {
    text-align: center;
    color: black;
}
.form_wrapper {
    border: black solid 3px;
    padding: 30px;
}
.label {
    display: inline-block;
    width: auto;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 2rem;
    color: black;
}
.form {
    padding-bottom: 30px;
    border-bottom: green dashed 3px;
}
.form_input {
    border: black solid 1px;
    margin: 8px;
}

@media only screen and (max-width: 550px) {
    .wrapper {
        margin: 0 0;
    }
}

canvas {
    display: block;
    border: black solid 1px;
    height: 150px;
    width: 300px;
    margin:  8px;
}

mark {
    background-color: yellow;
}