body {
    margin: 10px;
}

.sidebar_left {
    grid-area: sidebar_left;
}

.sidebar_right {
    grid-area: sidebar_right;
}

.content {
    grid-area: content;
}

.header {
    grid-area: header;
}

.footer {
    grid-area: footer;
}


.wrapper {
    min-height: 100vh;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 33% auto 15%;
    grid-template-areas: "header  header  header" "sidebar_left content sidebar_right" "footer  footer  footer";
    grid-template-rows: auto 5fr auto;
}

.box {
    background-color: green;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    font-size: 100%;
}

 	